body{
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1a1735;
    color: #ffffff;
}
/* ------------ home section style------------ */
.home {
    width: 80%;
    margin:  auto; 
}

.navbar {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    flex-wrap: wrap;
    gap: 30px; 
}
.logo{
    padding-right: 100px;
}

.menu {
 
    display: flex;
    justify-content: center; 
}

.menu ul {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
}

.menu ul li {
    display: inline;
    margin-right: 20px;
    font-size: 20px;
}
.menu ul li a{
    text-decoration: none;
    color: #fff;
}


.btn {
    flex: 1; 
    text-align: center; /
}

.btn a {
    border: 1px solid white;
    padding: 8px 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    border-radius: 4px;
    background-color: rgb(0, 123, 255); 
}


/* ----------- Banner Section style ----------- */
.Banner_Sec{
    width: 80%;
    height: 730px;
    margin-left: 120px;   
    
    
}
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between ;
    flex-wrap: wrap;
    

}
.banner h1{
    color: #fffffff6;
    margin-top: -40px;
    font-size: 60px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
}   
.banner img{
    width: 350px;
    margin-top: 50px;
    margin-right: 30px;
}
 .btn1{
    float: left;
    padding: 15px 6%;
    border: 1px solid #f7fcffb0;    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;  
    border-radius:5px;
    margin-top: -130px;

}
.btn1 a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.801);

}   
.item{
    width: 230px;
    height: 200px;
    border-radius: 10px;
    background-color:rgb(255, 54, 101);
    float: left;
    margin-right: 20px;
    opacity: 0.7;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
} 
.item1{
    width: 230px;
    height: 200px;
    border-radius: 10px;
    background-color: rgb(44, 0, 241) ;
    float: left;
    margin-right: 20px;
    opacity: 0.7;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.7s ease;
} 
.item2{
    width: 230px;
    height: 200px;
    border-radius: 10px;
    background-color:rgb(255, 0, 255);
    float: left;
    margin-right: 20px;
    opacity: 0.7;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
} 
.item3{
    width: 230px;
    height: 200px;
    border-radius: 10px;
    background-color: rgb(255, 119, 8) ;
    float: left;
    margin-right: 20px;
    opacity: 0.7;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
} 
.item:last-child{
    width: 240px;
} 
/* ------------ About Section Style----------- */

.About{
    width: 80%;
    height: 600px;
    margin-left: 120px; 
    padding: 10px 10px;
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.text h1{
    font-size: 50px;
}


.about img{
    width: 370px;

}
/* ---------------- History section style ----------------- */
.history{
    width: 80%;
    height: 550px;
    margin-left: 120px;
    background-color: #1a1735;
    padding: 10px 10px;
}
.history{
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.btn2{
    padding: 3px 10px;
    border: 1px solid white;
    width: 110px;
    border-radius: 6px;
    margin-top: 10px;
    opacity: 0.6;
}
.tech{
    width: 17%;
}
.btn2 a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}
.experience{
    width: 80%;
    background-color:  rgb(48, 45, 67);
    padding: 10px 10px;
    border-radius: 15px;
    opacity: 0.7;
}
.tec{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}    
.experience p{
    font-size: 20px;
}
.experience h3{
    font-size: 20px;
}
/*---------- Achivement setion ----------- */
.achivement{
    width: 90%;
    height: 500px;
    margin-left: 50px;
 
}
.ace-img{
    width: 450px;
    height: auto;
  
}
.ace-text{
    width: 520px;
    height: auto;
    text-align: start;
   
}
.achiv{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.ace-text h1{
    font-size: 35px;

}
/* ------- Achivement statas style------- */
.stat-items{
    display: flex;
    gap: 40px;
}

.stat-item {
    color: white; 
}

.stat-number {
    font-size:45px;
    font-weight: bold;
    color: #ffffff;
   
}

.stat-label {
    font-size: 25px; 
    margin-top: 5px;
    color: rgb(255, 255, 255); 
    
}
.btn3{
    padding: 15px 10px;
    border: 1px solid white;
    width: 110px;
    border-radius: 6px;
    margin-top: 50px;
    opacity: 0.6;
    text-align: center;
}
.btn3 a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}
/* ------------------------------ */

.gallery {
    padding: 20px 0;
}

.gallery h2 {
    text-align: center;
    color: #43e97b;
}

.gallery-images {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.gallery-images img {
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 8px;
}